.headerContainer{
    width: 100%;
    height: 8%;
    position: fixed;
    display: inline-block;
    /*background-color: rgba(255,255,255,0.05);*/
    /*background-color: rgb(35, 35, 35) !important;*/
    background-color: rgba( 16,16,16,0.50) !important;
    z-index: 50;
}

.headerDiv{
    width: 100%;
    height: 100%;
    /*background-color: white;*/
    display: inline-block;
    position: relative; /* Set the navbar to fixed position */
    -moz-box-shadow:0 0 8px 0 black;
    -webkit-box-shadow:0 0 8px 0 black;
    box-shadow:0 0 8px 0 black;
}

.divLogo {
    position: relative;
    width: auto;
    height: 100%;
    display: inline-block;
    overflow: hidden;    
    left: 0.5em;

    /*background-color: red;*/
}

.divMenu {
    display: inline-block;
    overflow: hidden;    
    text-align: center;
    left: 30%;
    position: absolute;
    top: 50%; 
    transform: translate(-50%,-50%);
}

#logoImg{

    position: relative;
    width: 60px;
    height: 60px;   
}

.menuItem, a{

    background: transparent;
    border-color: orange;
    border-radius: 6px;
    border-width: 1px;
    text-decoration: none !important;
    color: var(--textColorPrimary);
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.menuItemContainer{
    border: 1px;
    border-radius: 0.0em;
    border-width: 0.5em;
    display: inline-block;
    margin-right: 0.6em;
    padding: 0.4em;
    text-transform: uppercase;
}

.menuItemContainer:hover{
    /*border: 1px solid #c0c0c0;*/
    /*background-color: #ffffff;*/
}

.menuItemContainer-Selected {
    /*transition:all 0.3s ease;*/
    border: 0px;
    padding: 0.4em;
    /*border-radius: 0.9em;*/
    /*border-width: 5px;*/
    display: inline-block;
    font-weight: bold;
    /*background: #ffffff !important;*/
}

.menuItemContainer-Selected:hover {
    border: 0px;
}

.userMenuUserName{

    position: relative;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    height: auto;
}

/*#_userMenu{
    background-color: #e5e5e5;
    display: inline-block;
    position: relative;
    width: 300px;
    height: 100%;
    overflow: hidden;    
    float: right;
    border-radius: 6px;
}*/

.userMenuChild {
    /*background-color: red;*/
    display: inline-block;
    text-align: center;
    position: relative;
    /*background-color: rgba(0,0,0,0.5);*/
    border-radius: 10px;
    margin-left: 0.2em;
}

.userMenuContainer{
    /*background-color: orange;*/
    width: 40%;
    left: 2%;
    height: 90%;
    position: relative;
}

#_userMenuLogo{
    display: inline-block;
    width: 100%;
    height: 100%;
}

#_rightMenu{

    position: relative; 
    display: inline-block;
    width: auto;
    height: 100%;
    float: right; 
    margin-right: 1em;
}

#_loginDiv{
    /*background-color: red;*/
    display: inline-block;
    position: relative;
    width: auto;
    height: 100%;
    overflow: hidden;    
    text-align: center;
    float: right;
}

.registerDiv{
    display: inline-block;
    position: relative;
    width: 50%;
    float: right;
}

.loginDiv{
    position: relative;
    display: inline-block;
    float: left;
}

.menuFontSize1{

    font-size: 0.9em;
}

#_searchDiv{

    width: 3em;
    margin-right: 2em;
    /*background-color: orange;*/
    height: 100%;
}

.searchButtonImage {

    width: 32px;
    height: 32px;
}

.divIdiomas{
    position: relative;
    display: inline-block;
    overflow: hidden;    
    left: 1em;
    /*background-color: red;*/
}

.idiomasContainer{
    border: 1px;
    border-radius: 0.5em;
    border-width: 0.5em;
    display: inline-block;
    padding: 0.9em;
    /*background-color: #222;*/
}

#idiomaFlag{

    position: relative;
    width: 24px;
    height: 24px;
    min-height: 20px;
    min-width: 20px;
    border:none;
    outline: none;
    border-style: none;
}