* {
    font-family: Lato;
}

/*.footerDiv{
    width: 100%;
    height: 10%;
    display: inline-block;
}*/

.left {
    width:99.8%!important;
    height: 100% !important;
    display:inline-block;
    overflow: auto;
    max-height: 100vh;
}

.right{
    display: inline-block;
    position: relative;
    width: 19.2%;
    height: 100%;
    vertical-align: top;
}

#divBuscador{

    width: 100%;
    display: inline-block;
    position: relative;
}

#divAnuncios{

    border-radius: 20px;
    border-width: 1px;
    width: 96%;
    height: auto; 
    display: inline-block;
}

#divMusicos{
    width: 100%;
    /*display: inline-block;*/
    position: relative;
    overflow: auto;
    /*overflow: visible;*/
    /*background-color: red;*/
    display: block;
    height: auto;
}

#divProximosConciertos{

    width: 100%;
    height: 30%;
    /*background-color: rgba(255,255,255,0.5);*/
}
