h1{

    color: orange;
}

.registroContainer{

    width: 100% !important;
    height: 100%;
}

.md-content  * {

    color: black;
}

#registro_main_modal{

    visibility: hidden;
}

#registro_diag_overlay {

    background: transparent;
    background-color: transparent;
}

.md-separator {

    margin: 10px 20px 10px 20px;
    opacity: 0.5;
}