.vPopupMenuContainer {
    position: absolute;
    display: none;
    background-color: rgba(0,0,0,0.4);
    padding: 0.5em;
    border-radius: 0.1em;
    /*box-shadow: 0 10px 10px rgba(36,37,38,1);*/
    box-shadow:0 0 8px 0 black;
    z-index: 2300;
}

.vPopupMenuItem{
    padding: 0.5em;
    cursor: pointer;
    width: auto;
}

.vPopupMenuItem:hover{

    /*background-color: #ffffff;*/
    padding: 0.5em;
    position: relative;
    display: inline-block;
    border-radius: 0.5em;
}

.vPopupMenuItem label{
    cursor: pointer;
    border-radius: 0.5em;
    color: var(--textColorPrimary);
}

.vPopupMenuItem label:hover{
    color: var(--textColorPrimaryShine);
}
